@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.App-logo {
  max-width: 100%;
  display: block;
  margin: auto;
}

.flex_area {
  display: flex;
  align-items: center;
}

.flex_content {
  display: flex;
  width: 50%;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
  text-align: center;
  margin: auto;
}

.call_btn {
  text-align: center;
  margin: auto;
  color: black;
  width: 400px;
  height: 100px;
  background: #ffe81f;
  padding: 16px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0px 15px 0px 0px #c2ae00, 0px 0px 20px 0px transparent;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
  outline-color: transparent;
}

.call_btn:hover {
  top: 3px;
  box-shadow: 0px 7px 0px 0px #c2ae00;
}

.flex_content p {
  color: #ffe81f;
  font-size: 25px;
}

.simple_nav {
  width: 100%;
  background-color: #ffe81f;
}

.simple_nav ul {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  list-style: none;
}

.simple_nav ul li {
  padding: 10px 20px;
}

.simple_nav ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.simple_nav ul li a:hover {
  color: red
}

#form {
  display: flex;
  justify-content: center;
}

#form input {
  width: 100%;
  margin-bottom: 10px;
  height: 10px;
  padding: 15px;
}

.btn {
  cursor: pointer;
  background-color: #ffe81f;
  border: none;
  height: 30px;
  font-weight: bold;
  border-radius: 5%;
}

.heading {
  color: #fff;
  text-align: center;
}